<div class="issue-heading">
  <div class="container">
    <%= @issue.title %>
    <%= link_to 'Destroy', issue_path(@issue), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
    <%= link_to 'Edit', edit_issue_path(@issue), class: "btn btn-primary" %>
  </div>
</div>
<div class="container">
  <div class="replies">
    <article class="reply clearfix">
      <div class="avatar">
        <%= image_tag "default_avatar.png", class: 'image-circle' %>
      </div>
      <div class="body">
        <div class="heading">
          <h5 class="name"><a href="#">happypeter</a></h5>
        </div>
        <%= @issue.content %>
      </div>
    </article>
    <%= render partial: 'shared/comment_list', locals: {comments: @comments} %>
    <%= render partial: 'shared/comment_box', locals: {issue: @issue} %>
  </div>
</div>