<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">   
  <title>Tech Hangout</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= params[:controller] + '-' + params[:action] %>">
  <div class="navbar clearfix">
  <div class="container">
    <a class="navbar-brand" href="/">
      Tech Hangout
    </a>
    <ul class="nav left">
      <li><%= link_to 'About Me', '/about' %></li>
    </ul>
    <ul class="nav right">
      <% if current_user %>
          <li><%= link_to current_user.name, '#' %></li>
          <li><%= link_to 'Logout', logout_path, method: 'delete' %></li>
      <% else %>
          <li><%= link_to 'Login', login_path %></li>
          <li><%= link_to 'Signup', signup_path %></li>
      <% end %>
    </ul>
  </div>
</div>

  <% if flash.notice %>
    <div class="notice"><%= flash.notice %></div>
<% end %>

<%= yield %>

<div class="footer">
  <div class="container">
    @2015 Techhangout.Inc
  </div>
</div>

<script>
    var hideNotice = function(){
       $(".notice").fadeOut("slow");
     }
    setTimeout(hideNotice, 4000);
</script>

</body>

</html>