<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">   
  <title>Tech Hangout</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= params[:controller] + '-' + params[:action] %>">
  <div class="navbar clearfix">
  <div class="container">
    <a class="navbar-brand" href="/">
      Tech Hangout
    </a>
    <ul class="nav left">
      <li><%= link_to 'About', '/about' %></li>
      <li><a href="#">placeholder</a></li>
    </ul>
    <ul class="nav right">
      <% if current_user %>
          <li><%= link_to current_user.name, '#' %></li>
          <li><%= link_to 'Logout', logout_path, method: 'delete' %></li>
      <% else %>
          <li><%= link_to 'Login', login_path %></li>
          <li><%= link_to 'Signup', signup_path %></li>
      <% end %>
    </ul>
  </div>
</div>

<%= yield %>

<div class="footer">
  <div class="container">
    footer
  </div>
</div>

</body>

</html>